@charset "utf-8";
@import url("CreteRound_Regular/stylesheet.css");

header {
    background-color: #B8E079;
    height: 100px;
}
header h1 {
    text-align: center;
    padding-top: 25px;
    font-family: "CreteRound Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
}
